.card-container{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 450px;
    height: auto;
    background-color: blue;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
}

input{
    font-size: 1.2rem;
}

.check{
    margin-left: 345px;
    font-size: 1.2rem;
    background-color: aquamarine;
    border: none;

}